@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    margin-left: 300px;

}

.sidebar {
    position: fixed;
    height: 100vh;
    width: 300px;
    padding-top: 100px;
    border: 1px solid #303030;
    display: grid;

    justify-items: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 200px 200px 200px;
}

.sidebar > input {
    height: 50px;
    width: 100px;
}

.block {
    width: auto;
    height: auto;
    min-height: 5px;
    max-height: 150px;
}

.tower {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-items: center;
    height: 30vh;
}

.display {
    position: relative;
    top: 30vh;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    /* justify-content: center; */
    /* align-items: center; */
    /* justify-items: center; */

}